/* You can add global styles to this file, and also import other style files */
.div{
  margin:0px;
  padding:0px;
  font-family: Roboto;
}
html, body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.relativePosition{
  position: relative;
}
.flex{
  display: flex
}
.justify-center{
  justify-content: center;
}
.spaceBetween{
  justify-content: space-between;
}
.cursorPointer{
  cursor: pointer;
}
